<%- include('header'); -%>

        <div class="body-container">
                <div class="container">
                        <div class="row justify-content-center align-items-center">
                                <div class="col-12 text-center">
                                        <h1 class="mt-5 mb-2">Say Something ..</h1>
                                        <%- status %>
                                </div>
                                <div class="col-12 col-md-10 col-lg-8 mt-5">
                                        <form action="/write_message/<%- username %>" method="post">
                                                <div class="form-group">
                                                        <textarea name="secret" rows="6"
                                                                placeholder="Leave a message for <%= user %> here"
                                                                required></textarea>
                                                        <button class="btn btn-lg btn-block">Send Message</button>
                                                        <p class="text-muted">By using this service, you agree to our
                                                                Privacy Policy, Terms of Service and any related
                                                                policies.</p>
                                                </div>
                                        </form>
                                </div>
                                <div class="col-12 col-md-10 col-lg-8 mt-3 mb-3 text-justify">
                                        <p>With the help of our anonymous message sender, you can easily message your heart's desire to your friends, family
                                        members, and anyone you know. Everyone in this world loves to get affection from their loved ones be it their parents,
                                        partners, or close friends. Tell them how much they matter to you and how much you care for them! </p>
                                </div>
                        </div>
                </div>
<%- include('footer'); %>